.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.readmore{
  display: inline;
}
.content{
  display: inline;
}

.block{
  background-color: #f8f1f1;
}
.footer-padding {
	padding-bottom: 60px;
}

.footer {
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   height: 60px;
   padding-top: 23px;
margin-top: 60px;
	background-color: #1abc9c;
}

.footer p {
	font-size: 12px;
  color: #fff;
}




	.addPost {
		color: #fff;
		font-size: 3rem;
		font-family: "ubuntu";
		text-transform: uppercase;
		font-weight: bald;
		font-family: "Josefin Sans", sans-serif;
		background: linear-gradient(to right,#095fab 10%, #25abe8 50%, #57d75b 60%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 1.5s linear infinite;
		display: inline-block;
	}


@keyframes textclip {
	to {
		background-position: 200% center;
	}
}
